@import "tailwindcss";

@theme {
  --color-primary-custom: #091426;
  --color-inverse-primary: #bcc7de;
  --color-on-primary: #ffffff;
  --color-primary-container: #1e293b;
  --color-on-primary-container: #8590a6;
  --color-primary-fixed: #d8e3fb;
  --color-primary-fixed-dim: #bcc7de;
  --color-on-primary-fixed: #111c2d;
  --color-on-primary-fixed-variant: #3c475a;
  
  --color-secondary-custom: #735c00;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #fed65b;
  --color-on-secondary-container: #745c00;
  --color-secondary-fixed: #ffe088;
  --color-secondary-fixed-dim: #e9c349;
  --color-on-secondary-fixed: #241a00;
  --color-on-secondary-fixed-variant: #574500;
  
  --color-tertiary: #001815;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #002f2a;
  --color-on-tertiary-container: #28a094;
  --color-tertiary-fixed: #89f5e7;
  --color-tertiary-fixed-dim: #6bd8cb;
  --color-on-tertiary-fixed: #00201d;
  --color-on-tertiary-fixed-variant: #005049;

  --color-surface-dim: #d8dadc;
  --color-surface-bright: #f7f9fb;
  --color-surface-variant: #e0e3e5;
  
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container: #eceef0;
  --color-surface-container-high: #e6e8ea;
  --color-surface-container-highest: #e0e3e5;
  
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #45474c;
  --color-inverse-surface: #2d3133;
  --color-inverse-on-surface: #eff1f3;
  
  --color-outline: #75777d;
  --color-outline-variant: #c5c6cd;
  
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  
  --color-background-custom: #f7f9fb;
  --color-on-background: #191c1e;

  --font-sans: "Noto Sans TC", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #f7f9fb;
  font-family: "Noto Sans TC", sans-serif;
  color: #191c1e;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  vertical-align: middle;
}

.material-symbols-filled {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  vertical-align: middle;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
